* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.container #button {
    display: none;
    flex: auto;
    margin: 15vh auto;
    padding: 0.5em;
    max-width: 250px;
    background-color: blueviolet;
    border: 5px solid dodgerblue;
    border-radius: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.container #score {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.container #lives {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: white;
}